<!-- <div class="">
  <div class="text-center" *ngIf="error; else shops">
    <h1 class="text-danger"> <span class="fa fa-exclamation-circle"></span> Login first: click <a href="/login">here</a></h1>
  </div> -->
 
  <div class="row"  >
    <div class="mt-1 col-sm-12 col-md-3" *ngFor="let shop of shops">
        <div class="card" >
            <div class="card-body" >
                
                <h5 class="card-title ">{{shop.name}}</h5>
                <div class="card-text">
                   <img src={{shop.image}} height="200px" width="200px" >
                </div>
                <div>
                    {{shop.description}}
                </div>
                <div class="mt-3"  >
                    <button type="button" class="btn btn-success float-left" (click)="getShop()">
                        Like
                    </button>
                    <button type="button" class="btn btn-danger float-right">
                        Dislike
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>


