<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-success border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'*ngIf="!isLoggedIn">NearbySop</a>
      <a class="navbar-brand" [routerLink]='["/login"]' *ngIf="isLoggedIn">NearbySop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]' *ngIf="!isLoggedIn">Home </a>
            <a class="nav-link text-dark" [routerLink]='["/login"]' *ngIf="isLoggedIn">Home </a>

            
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' >
            <a class="nav-link text-dark" [routerLink]='["/login"]' *ngIf="!isLoggedIn">Login </a>
            <a class="nav-link text-dark" [routerLink]='["/likedShop"]' *ngIf="isLoggedIn">Liked shop</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
              <a class="nav-link text-dark" [routerLink]='["/register"]' *ngIf="!isLoggedIn">Signup</a>
              <a class="nav-link text-dark" [routerLink]='["/"]' *ngIf="isLoggedIn">User Account</a>

            </li>
            <li class="nav-item" [routerLinkActive]='["link-active"]'>
              <a class="nav-link text-dark"  (click)="logout()" *ngIf="isLoggedIn" [routerLink]='["/"]'>Logout</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
</header>